<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= category.name %></title>
  </head>
  <body>
    <a href="/catalog">Back to catalog</a>
    <h1><%= category.name %></h1>
    <p><%= category.description %></p>

    <% teasOfThisCategory.forEach(tea => { %>
    <h4><a href="/catalog/tea/<%=tea._id%>"><%= tea.name %></a></h4>
    <ul>
      <li><%= tea.currentStock %> in stock</li>
      <li>€ <%= tea.price %>/kg</li>
    </ul>
    <% }) %>

    <button
      onclick="window.location.href='/catalog/delete-category/<%=category.id%>'"
    >
      Delete this category
    </button>
  </body>
</html>
