<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= tea.name %></title>
  </head>
  <body>
    <a href="/catalog">Back to catalog</a>
    //
    <a href="/catalog/category/<%=categoryId%>">Back to category</a>

    <h1><%= tea.name %></h1>
    <ul>
      <li><%= tea.description %></li>
      <li>Brewed at <%= tea.brewTemp %> °C</li>
      <li><%= tea.currentStock %> in stock</li>
      <li>€ <%= tea.price %>/kg</li>
    </ul>

    <button onclick="window.location.href='/catalog/update-tea/<%=tea.id%>'">
      Update tea details
    </button>

    <button onclick="window.location.href='/catalog/delete-tea/<%=tea.id%>'">
      Delete from catalog
    </button>
  </body>
</html>
