<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change category of <%= tea.name %></title>
  </head>
  <body>
    <a href="/catalog">Back to catalog</a>
    //
    <a href="/catalog/category/<%=category.id%>">Back to category</a>
    //
    <a href="/catalog/tea/<%=tea.id%>">Back to tea</a>

    <h1>Changing category of <%= tea.name %></h1>
    <p>Current category: <%= category.name %></p>
    <form method="post" action="">
      <select name="category" id="category">
        <% allCategories.forEach(category => { %>
        <option value="<%= category.id %>"><%= category.name %></option>
        <% }) %>
      </select>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
